
li {
    list-style: none;
}
#lbBox {
    margin: 0 auto;
    width: 100%;
    position: relative;
    width: 1160px;
    margin: 0 auto;
}
#lbBox a {
    width: 100%;
    height: 272px;
    text-align: center;
    background: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.lbBanner {
    width: 1920px;
    height: 272px;
    position: relative;
    margin-left: -380px
}

.show {
    display: block;
}

.hide {
    display: none;
}

#lbUl {
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -74px
}

#lbUl li {
    border-radius: 50%;
    display: inline-block;
    float: left;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #B7B7B7;
    margin: 0 5px;
    cursor: pointer;
    text-indent: -9999px;
    user-select:none;
}
.current {
    background-color: #f10180
}
.lbSpan {
    position: absolute;
    top: 50%;
    text-align: center;
    font: 700 30px/60px "simsun";
    color: #fff;
    margin-top: -35px;
    cursor: pointer;
    width: 36px;
    height: 70px;

    background: rgba(0,0,0,.6);
    opacity: .6;
    filter: alpha(opacity=60);
    background-image: url(../ws-img/prev-next_701c5f6.png);
    background-repeat: no-repeat;
    margin-top: -35px;

    user-select:none;

}

/*banxin 1160px*/

.lbSpan:hover {
    /*background-color: #f10180*/
    color: #343434;
}

#lbUl li:hover {
    /*background-color: #f10180*/
}

#lbUl .lbActive {
    background-color: #f10180
}

.left {
    position: absolute;
    left: 380px;
    background-position: 11px 24px
}

.right {
    position: absolute;
    right: 380px;
    background-position: -26px 24px
}

/*anniu*/

#btn-continue-buy-2 {

    background-color: #f10180;
    font-size : 16px;
    padding: 0;
    line-height: 33px;
    width: 120px;
    height: 33px;

    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;

    outline: 0;
    color: #fff;
}

#btn-continue-buy-2666 {
    background-color: #f10180;
    font-size : 16px;
    padding: 0;
    text-align: center;
    line-height: 33px;
    width: 120px;
    height: 33px;

    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;

    outline: 0;
    color: #fff;
}
#btnOnline_bx{
    background-color: #f10180;
    font-size : 16px;
    padding: 0;
    line-height: 33px;
    width: 120px;
    height: 33px;

    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;

    outline: 0;
    color: #fff;
}
#btnOnline_bx_lyx {
    background-color: #f10180;
    font-size : 16px;
    padding: 0;
    text-align: center;
    line-height: 33px;
    width: 120px;
    height: 33px;

    display: inline-block;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;

    outline: 0;
    color: #fff;

}

.lbBtn:hover {
    opacity: 0.8;

}