
#ws-wpb-pic {
    display: inline-block;
    width: 190px;
    height: 266px;
    float: left;
}

#ws-wpb-con {
    display: inline-block;
    width: 683px;
    height: 266px;
    border-top: solid 2px purple;
    float: right;
    /*background-color: #fbffa0;*/
}

#ws-wpb-con .ws-top {
    width: 683px;
    height: 70px;
    float: left;
}

#ws-wpb-con .ws-float-l1, .ws-float-l2 {
    float: left;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0px 5px;
    border-radius: 2px;
    background-color: pink;
    margin: 25px -10px 25px 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #FffFff;
    font: 400 12px/20px "Microsoft YaHei";
}

#ws-wpb-con .ws-float-l3 {
    float: left;
    display: inline-block;
    height: 20px;

    margin: 25px -18px 25px 30px;
    text-align: center;
    line-height: 20px;
    color: #999999;
    font: 400 12px/20px "Microsoft YaHei";
}

#ws-wpb-con .ws-float-r {
    float: right;
    display: inline-block;
    height: 20px;

    margin: 25px 18px 25px 30px;
    text-align: center;
    line-height: 20px;
    color: #343434;
    font: 400 14px/20px "Microsoft YaHei";
}

/*下部分开始*/
#ws-wpb-con .ws-btm {
    float: left;
    width: 644px;
    height: 150px;
    margin-left: 20px;
    border-top: solid 1px #ccc;

}

#ws-wpb-con .ws-btm .ws-btm-bai{
    height: 110px;
    width: 210px;
    border-right: solid 1px #ccc;
    margin-top: 30px;
    float: left;
}

#ws-wpb-con .ws-btm .ws-btm-fengxian {
    height: 110px;
    width: 210px;
    border-right: solid 1px #ccc;
    margin-top: 30px;
    float: left;
}
#ws-wpb-con .ws-btm .ws-btm-buy {
    height: 110px;
    width: 185px;
    /*border-right: solid 1px #ccc;*/
    margin-top: 30px;
    float: left;
}

#ws-wpb-con .ws-btm .ws-btm-bai p {
    color: #f10180;
    font: 700 22px/22px "Microsoft YaHei";
    margin-top: 50px;
    margin-left: 15px;
}

#ws-wpb-con .ws-btm .ws-btm-font16px {
    width: 180px;
    color: #343434;
    /*font: 700 22px/22px "Microsoft YaHei";*/
    font-size: 16px;
    margin-top: 30px;
    margin-left: 15px;
}

#ws-wpb-con .ws-btm .ws-btm-font12px {

    color: #999999;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

#ws-wpb-con .ws-btm img {
    float: left;
    margin-top: 26px;
    margin-left: 5px;
}

#ws-wpb-con .ws-btm span {

    color: #999999;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 5px;
    float: left;
}

#ws-wpb-con .ws-btm .ws-btm-buy-btn {
    padding: 0 30px;
    text-align: center;
    margin-top: 44px;
    margin-left: 30px;
    background-color: #f10180;
    border-radius: 2px;
    color: #ffffff;
    font: 700 15px/35px "Microsoft YaHei";
}
#ws-money  .ws-btm-buy-btn:hover {
    opacity: 0.8;
    cursor: pointer;
    /*background-color: #f10180;*/

}
#ws-money  .ws-btm-buy-btn:hover {
    opacity: 0.8;
    /*background-color: #f10180;*/

}
/*wpb结束*/
/*保险开始*/
#ws-bx-pic {
    display: inline-block;
    width: 190px;
    height: 502px;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    float: left;
}

#ws-bx-pic img {
    width: 190px;
    height: 502px;
}

#ws-bx-con1 {
    display: inline-block;
    width: 683px;
    height: 249px;
    border-top: solid 2px red;
    float: right;
    /*background-color: #fbffa0;*/
}

#ws-bx-con2 {
    display: inline-block;
    width: 683px;
    height: 249px;
    border-top: solid 2px red;
    float: right;
    /*background-color: #fbffa0;*/
}

/*详细部分开始*/

#ws-bx-con .ws-top {
    width: 683px;
    height: 70px;
    float: left;
}

#ws-bx-con1 .ws-float-l1, .ws-float-l2, .ws-float-l4 {
    float: left;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0px 5px;

    border-radius: 2px;
    background-color: pink;
    margin: 25px -10px 25px 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #FffFff;
    font: 400 12px/20px "Microsoft YaHei";
}

#ws-bx-con1 .ws-float-l4 {
    float: left;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0px 5px;

    border-radius: 2px;
    background-color: #b0d3f6;
    margin: 25px -10px 25px 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #FffFff;
    font: 400 12px/20px "Microsoft YaHei";
}

#ws-bx-con1 .ws-float-l3 {
    float: left;
    display: inline-block;
    height: 20px;

    margin: 25px 18px 25px 30px;
    text-align: center;
    line-height: 20px;
    color: #343434;
    font: 400 16px/20px "Microsoft YaHei";
}

#ws-bx-con1 .ws-float-r {
    float: right;
    display: inline-block;
    height: 20px;

    margin: 25px 18px 25px 30px;
    text-align: center;
    line-height: 20px;
    color: #343434;
    font: 400 14px/20px "Microsoft YaHei";
}

/*下部分开始*/
#ws-bx-con1 .ws-btm {
    overflow: hidden;
    width: 644px;
    height: 150px;
    margin-left: 20px;
    border-top: solid 1px #ccc;
}

#ws-bx-con1 .ws-btm .ws-btm-bai {
    /*background-color: red;*/

    width: 410px;
    height: 120px;
    border-right: solid 1px #ccc;
    margin-top: 30px;
    float: left;
}

#ws-bx-con1 .ws-btm .ws-btm-bai div {
    width: 408px;
    height: 40px;
    float: left;

    font-size: 15px;
    color: #343434;
    text-indent: 2em;

}

#ws-bx-con1 .ws-btm .ws-btm-bai span {
    font-size: 12px;
    color: #999;
    padding-left: 2em;
}

#ws-bx-con1 .ws-btm .ws-btm-buy {
    height: 110px;
    width: 185px;
    /*border-right: solid 1px #ccc;*/
    margin-top: 30px;
    float: left;
}

#ws-bx-con1 .ws-btm .ws-btm-buy-btn {
    padding: 0 30px;
    text-align: center;
    margin-top: 44px;
    margin-left: 30px;
    background-color: #f10180;
    border-radius: 2px;
    color: #ffffff;
    font: 700 15px/35px "Microsoft YaHei";
}

/*保险第二部分开始*/

#ws-bx-con .ws-top {
    width: 683px;
    height: 70px;
    float: left;
}

#ws-bx-con2 .ws-float-l1, .ws-float-l2, .ws-float-l4 {
    float: left;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0px 5px;

    border-radius: 2px;
    background-color: pink;
    margin: 25px -10px 25px 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #FffFff;
    font: 400 12px/20px "Microsoft YaHei";
}

#ws-bx-con2 .ws-float-l4 {
    float: left;
    display: inline-block;
    width: 70px;
    height: 20px;
    padding: 0px 5px;

    border-radius: 2px;
    background-color: #b0d3f6;
    margin: 25px -10px 25px 30px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: #FffFff;
    font: 400 12px/20px "Microsoft YaHei";
}

#ws-bx-con2 .ws-float-l3 {
    float: left;
    display: inline-block;
    height: 20px;

    margin: 25px 18px 25px 30px;
    text-align: center;
    line-height: 20px;
    color: #343434;
    font: 400 16px/20px "Microsoft YaHei";
}

#ws-bx-con2 .ws-float-r {
    float: right;
    display: inline-block;
    height: 20px;

    margin: 25px 18px 25px 30px;
    text-align: center;
    line-height: 20px;
    color: #343434;
    font: 400 14px/20px "Microsoft YaHei";
}

/*下部分开始*/
#ws-bx-con2 .ws-btm {
    overflow: hidden;
    width: 644px;
    height: 150px;
    margin-left: 20px;
    border-top: solid 1px #ccc;
}

#ws-bx-con2 .ws-btm .ws-btm-bai {
    /*background-color: red;*/

    width: 410px;
    height: 120px;
    border-right: solid 1px #ccc;
    margin-top: 30px;
    float: left;
}

#ws-bx-con2 .ws-btm .ws-btm-bai div {
    width: 408px;
    height: 40px;
    float: left;

    font-size: 15px;
    color: #343434;
    text-indent: 2em;

}

#ws-bx-con2 .ws-btm .ws-btm-bai span {
    font-size: 12px;
    color: #999;
    padding-left: 2em;
}

#ws-bx-con2 .ws-btm .ws-btm-buy {
    height: 110px;
    width: 185px;
    /*border-right: solid 1px #ccc;*/
    margin-top: 30px;
    float: left;
}

#ws-bx-con2 .ws-btm .ws-btm-buy-btn {
    padding: 0 30px;
    text-align: center;
    margin-top: 44px;
    margin-left: 30px;
    background-color: #f10180;
    border-radius: 2px;
    color: #ffffff;
    font: 700 15px/35px "Microsoft YaHei";
}

/*唯品花*/
#ws-wph-pic {
    display: inline-block;
    width: 190px;
    height: 236px;
    float: left;
}

#ws-wph-con {
    display: inline-block;
    width: 683px;
    height: 236px;
    border-top: solid 2px pink;
    float: right;
    /*background-color: #fbffa0;*/
}

#ws-wph-con .ws-float-l {
    float: left;
    display: inline-block;
    width: 65px;
    height: 65px;

}

/*唯品花详细内容开始*/

/*下部分开始*/
#ws-wph-con .ws-btm {
    /*background-color: green;*/
    float: left;
    width: 644px;
    height: 220px;
    /*margin-left: 20px;*/
    border-top: solid 1px #ccc;

}

#ws-wph-con .ws-btm .ws-btm-fq, .ws-btm-jj, .ws-btm-xz {
    width: 210px;
    height: 220px;
    float: left;
    /*border: 1px solid red;*/
}

#ws-wph-con .ws-btm .ws-btm-bai p {
    color: #f10180;
    font: 700 22px/22px "Microsoft YaHei";

}

#ws-wph-con .ws-btm img {
    margin-left: 46px;
    margin-top: 23px;
}

#ws-wph-con .ws-btm span {
    width: 210px;

    text-align: center;
    /*background-color: lemonchiffon;*/
    float: left;
    font-size: 12px;
    color: #999;
    margin-top: 8px;

}

#ws-wph-con .ws-btm p {
    width: 210px;

    text-align: center;
    /*background-color: red;*/
    float: left;
    font-size: 15px;
    color: #343434;
    margin-top: 24px;
}

/*wph结束*/