.deng-lu{
    height: 331px;
}

.denglu{
    width: 306px;
    height: 329px;
    background-color: #ffffff;
    border: 1px solid #f4ebee;
    float: left;
}
.title{
    color: #ffffff;
    text-align: center;
    line-height:40px;
    font-size: 18px;
    width: 306px;
    height: 40px;
    background-color: #fd628d;
}
.denglu .date {
    /*display: inblock;*/
    width: 267px;
    height: 32px;
    /*background-color: pink;*/
    margin:20px 20px 0 20px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color:#c8c8c8;
}
.denglu .name {
    /*display: inblock;*/
    width: 267px;
    height: 32px;
    /*background-color: pink;*/
    margin:20px 20px 0 20px;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    color:#c8c8c8;
}
.denglu .xu {
    width: 262px;
    height: 32px;
    margin:20px 24px 0 20px;
    background-color: #e4e4e4;
}
.denglu button {
    height: 46px;
    width: 266px;
    background-color: #fd628d;
    margin:20px 20px 0 20px;
    color: #ffe1cd;
    font-size: 19px;
}
.denglu p {
    text-align: center;
    display: block;
    margin:20px auto;
}
.denglu p span {
    color: red;
}

.chanpin{
    width: 672px;
    height: 331px;
    /*background-color: skyblue;*/
    float: right;
    border: 1px solid #f4ebee;
    border-bottom: 0px solid #f4ebee;
}
.chanpin ul li{
    float: left;
    width: 222px;
    height: 164px;
    /*background-color: pink;*/
    border-right: 1px solid #f4ebee;
    border-bottom: 1px solid #f4ebee;
    position: relative;
}
.chanpin ul li a p{
    position: absolute;
    display: block;
    width: 76px;
    height: 30px;
    /*background-color: pink;*/
    top: 30px;
    left: 10px;
    background:url(../images/img-list-06-list.png) no-repeat 0 -154px;
}
.chanpin ul li a i{
    position: absolute;
    right: 18px;
    bottom: 0;
    display: block;
    width: 160px;
    height: 125px;
    background:url(../images/img-list-06-list.png) -2px -22px no-repeat;

}
