.main-top{
    height: 66px;
    background:url(../images/today_zhie_dfyu.png) -90px 0 no-repeat;
}

.main-left{
    float: left;
    width: 490px;
}

.main-left ul li {
    height: 264px;
    /*background-color: pink;*/
    margin-top: 15px;
    position: relative;


}
.main-left ul li a{
    color: #4d4d4d;
}
.main-left ul li .img{
    width: 490px;
    height: 235px;
    background: url(../images/w.png) 0 0 no-repeat;
}
.main-left ul li .wenzi-l{
    position: absolute;
    left: 20px;
    bottom: 2px;
}
.main-left ul li .wenzi-r{
    position: absolute;
    right: 20px;
    bottom: 2px;
}
/**/
.main-right{
    float: right;
}
.main-right ul li {

    height: 264px;
    width: 490px;
    /*background-color: pink;*/
    margin-top: 15px;
    position: relative;

}
.main-right ul li a{
    color: #4d4d4d;
}
.main-right ul li .img{
    width: 490px;
    height: 235px;
    background: url(../images/ww.png) 0 0 no-repeat;
}
.main-right ul li .wenzi-l{
    position: absolute;
    left: 20px;
    bottom: 2px;
}
.main-right ul li .wenzi-l span{
    color:#f10582;
    font-size: 20px;
}
.main-right ul li .wenzi-r{
    position: absolute;
    right: 20px;
    bottom: 2px;
}