.top-lun-bo {
    width: 1347px;
    height: 440px;
    background:#ffffff url(../images/1.jpg) no-repeat center top;
    /*overflow: hidden;*/
    border: 1px solid #fefdfd;
}
.lun-bo {
    background-color: #faf5f1;
    opacity: 0.9;
    height: 380px;
    width: 976px;
    margin:0 auto 0;
    border: 12px solid #fefdfd;
    border-bottom: 0 solid #fefdfd;
    margin-top: 30px;
}
.lun-bo ul {
    /*margin:0 197px 0;*/
    line-height: 38px;
    position: absolute;
    top: 340px;
    left: 200px;
}
.lun-bo div ul li{
    float: left;
    width: 194px;
    height: 40px;
    /*background-color: skyblue;*/
    text-align: center;
}
/*.lun-bo div ul li a {*/
    /*border-width: 700;*/
/*}*/
.lun-bo div ul li a:hover {
    color: red;
}
.guanggao {
    height: 103px;
    /*background-color: skyblue;*/
    background:url(../images/kid.png) center 0px no-repeat;
    opacity: 0.9;
}
.lun-bo #imgwidth{
    position: relative;
    overflow: hidden;
    height: 380px;
}


/*ÂÖ²¥Í¼*/
.lun-bo span {
    position: absolute;
    top: 375px;
    right: 185px;
    text-align: center;
    font: 700 30px/60px "simsun";
    color: #fff;
    /*margin-top: -30px;*/
    width: 30px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}
.lun-bo #left{
    top: 375px;
    left: 187px;
}
.lun-bo span:hover {
    background: rgba(0, 0, 0, 0.8);
}
.lun-bo div ol{
    /*float: left;*/
    width: 2928px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;

}
.lun-bo div ol li {
    /*display: none;*/
    float:left;

}

.lun-bo div ul .current{
    background-color:pink;
    font-size: 15px;
}
