
html, body, ul, ol, li, dd, dl, dt, p, h2, h3, h4,img {
	margin: 0;
	padding: 0;
	list-style: none;
}
body{overflow:hidden;}

li{list-style:none;}

/*去掉行内替换元素空白缝隙*/
img {
	border: 0;
	vertical-align: middle;
}
/* 清楚浮动 */
.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	*zoom: 1; /*IE/7/6*/
}
a {
	text-decoration: none;
}
.section {
	position: relative;
	overflow: hidden;
	height: 677px;
	width: 100%;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #228DFF,
               0 0 70px  #228DFF,
               0 0 80px  #228DFF,
               0 0 100px #228DFF,
               0 0 150px #228DFF;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #228DFF,
               0 0 35px #228DFF,
               0 0 40px #228DFF,
               0 0 50px #228DFF,
               0 0 75px #228DFF;
  }
}
@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #FFDD1B,
               0 0 70px  #FFDD1B,
               0 0 80px  #FFDD1B,
               0 0 100px #FFDD1B,
               0 0 150px #FFDD1B;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #FFDD1B,
               0 0 35px #FFDD1B,
               0 0 40px #FFDD1B,
               0 0 50px #FFDD1B,
               0 0 75px #FFDD1B;
  }
}
@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #ff00de,
               0 0 70px #ff00de,
               0 0 80px #ff00de,
               0 0 100px #ff00de,
               0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #ff00de,
               0 0 35px #ff00de,
               0 0 40px #ff00de,
               0 0 50px #ff00de,
               0 0 75px #ff00de;
  }
}

/* 1. 第 一 屏 */
#section1 .header {
	height: 667px;
	background: #1F2229 url('../images/header_bg.png') no-repeat top center;
}
    /* 第一屏左侧 */
.header .h_top {
	height: 118px;
	line-height: 118px;
	color:#FF1177;
	border-bottom: 2px solid rgba(161,161,161, 0.4);
}
.header .h_top .author {
	font-size: 36px;
	font-weight: 700;
}
.ac {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.header .h_top .author:hover{
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate; 
}

.header .h_top .job {
	font-weight: 700;
	font-size: 24px;
	margin-left: 15px;
}
.header .h_top .job:hover{
	-webkit-animation: neon3 1.5s ease-in-out infinite alternate;
	-moz-animation: neon3 1.5s ease-in-out infinite alternate;
	animation: neon3 1.5s ease-in-out infinite alternate;
}

    /* 第一屏右侧 */
.header li{
	float: left;
}
.header li a{
	font-size: 19px;
	margin-left: 20px;
	color: #ff4d4c;
}
.header .h_top a:hover{
	color: #FFF;
	border-color: #FFF;
}
.header .avatar {
	background-color: rgba(0,0,0, 0.3);
	border-bottom: 2px solid rgba(161,161,161, 0.4);
}
.header .avatar .h-l {
	width: 350px;
	height: 349px;
}
.header .avatar .h-l .meet{
	margin-top: 20px;
}
.header .avatar .h-l p {
	line-height: 28px;
	color: #c5cbd0;
	font-size: 14px;
	text-indent: 2em;
}
.header .avatar .h-c {
	position: relative;
	width: 300px;
	height: 340px;
}
.header .avatar .h-c img {
	width: 200px;
	height: 200px;
	border: 3px solid #E16B5F;
	border-radius: 50%;
}

.header .avatar .h-c p {
	margin-top: 285px;
	color: #e16b5f;
	display: block;
	text-align: center;
}
.header .avatar .h-r {
	width: 330px;
	margin-top: 5px;
	margin-left: 17px;
	font-size: 18px;
}
// .header .avatar .h-r:after {
// 	content: '';
// 	float: left;
// 	height: 208px;
// 	margin: -327px 0 0 69px;
// 	border-right: 1px dashed #724775;
// }
.header .avatar .h-r dl {
	margin: 15px 0px;
}
.header .avatar .h-r dt,
.header .avatar .h-r dd {
	float: left;
	width: 60px;
	line-height: 28px;
	color: #8d8e8f;
	text-align: right;
}
.header .avatar .h-r dd {
	width: 250px;
	margin: 0;
	padding-left: 20px;
	color: #c5cbd0;
	text-align: left;
}
.header .avatar .h-r dd a {
	color: #c5cbd0;
	text-decoration: none;
}
.header .avatar .h-r dd:before {
	content: '';
	float: left;
	width: 7px;
	height: 7px;
	margin-top: 10px;
	margin-left: -14px;
	border-radius: 50%;
	background-color: #724775;
}
.header .h_foot{
	height: 160px;
	position: absolute;

	left: 72px;top: 498px;
}

#marquee {
  margin: 0 auto;
  width: 1200px;
  -webkit-perspective: 500px;
  perspective: 500px;
  font-size: 0;
}
#marquee div {
  display: inline-block;
  height: 120px;
  width: 600px;
  position: relative;
}
#marquee div:first-of-type {
  background: #e5233e;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
  color: #fff;
}
#marquee div:last-of-type {
  background: #b31e31;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotateY(45deg);
  transform: rotateY(45deg);
  color: #f8c9d9;
}
#marquee div {
  font-size: 40px;
  overflow: hidden;
}
#marquee div span {
  position: absolute;
  width: 400%;
  line-height: 3;
}
@-webkit-keyframes leftcrawl {
  to {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
@keyframes leftcrawl {
  to {
    -webkit-transform: translateX(-1100px);
    transform: translateX(-1100px);
  }
}
@-webkit-keyframes rightcrawl {
  to {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
@keyframes rightcrawl {
  to {
    -webkit-transform: translateX(-1480px);
    transform: translateX(-1480px);
  }
}
#marquee div:first-of-type span {
  -webkit-transform: translateX(1200px);
  transform: translateX(1200px);
  -webkit-animation: leftcrawl 18s linear infinite;
  animation: leftcrawl 18s linear infinite;
  text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.3);
}
#marquee div:last-of-type span {
  -webkit-transform: translateX(480px);
  transform: translateX(480px);
  -webkit-animation: rightcrawl 18s linear infinite;
  animation: rightcrawl 18s linear infinite;
}


/*第二屏 我的技能*/
.second {
	padding: 0 30px;
}

.three .title{
	text-align: center;
}
.three .title h3{
	color: #985a99;
	font-size: 36px;
	font-weight: lighter;
}
.three .title p{
	margin: 5px 0 -15px;
	color: #999999;
	font-size: 20px;
	font-weight: 700;
}
.three .item {
	margin: 17px 0;
}
.three .percent,.three .progress {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	color: #FFF;
	text-align: center;
	background-color: rgba(226,108,96, 1);
}
.three .percent{
	width: 80px;
}
.three .progress {
	width: 120px;
	padding-left: 10px;
	color: #E26C60;
	text-align: left;
	background-color: rgba(226,108,96, 0.1);
}
.three .content{
	height: 40px;
	width: 780px;
	background-color: pink;
	line-height: 40px;
	text-indent: 0.5em;
}

/* 第三屏 */
#section3{
	padding: 20px;
	text-align: center;
}

#section3 h2{
	font-size: 36px;
	text-align: center;
	color:red;
	font-weight: 700;
}
#section3 .content{
	width: 1030px;
	margin: 10px auto; 
} 
#section3 li{
	float: left;
	width: 240px;
	height: 240px;
	border: 1px solid #000;
	margin: 15px 15px 0 0;
	position: relative;
}
#section3 .content  a{
	display: inline-block;
}
#section3 .content img{
	width: 240px;height: 240px;
}
#section3 .content .zuopin{
	background-color: #222222;
}
#section3 .content .zuopin a{
	line-height: 240px;
	font-weight: 700;
	font-size: 36px;
	background-color: #222222;
	color:#B6FF00;
}
#section3 .content .zuopin:hover{
	-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
	-moz-animation: neon6 1.5s ease-in-out infinite alternate;
	animation: neon6 1.5s ease-in-out infinite alternate;
}

// 第四 五屏
#section4{
	padding: 40px;
	text-align: center;
}
#section4 h2 {
	margin: 14px 0 0 0 ;
	color: #985a99;
	font-size: 36px;
	font-weight: 700;
	font-weight: lighter;
	text-align: center;
}
#section4 p {
	margin: 0 0 20px;
	color: #999999;
	font-size: 16px;
}
#section4 {
	background-color: #E26C60;
}
#section4 .title h3,
#section4 .title p {
	color: #FFF;
}
#section4 .line {
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255, 0.2);
}
#section4 .item {
	width: 1000px;
	margin: 10px auto;
}
#section4 .item .fl {
	width: 580px;
}
#section4 .item .tit {
	margin: 12px 0;
	color: #FFF;
	font-size: 24px;
}

#section4 .item .con p {
	margin: 0;
	color: #FFF;
	font-size: 14px;
	line-height: 24px;
	text-indent: 2em;
}
#section4 .item .skill {
	margin-top: 18px;
}
#section4 .item .skill span {
	display: inline-block;
	margin-right: 5px;
	padding: 5px 15px;
	color: #E26C60;
	border: 1px solid #BC5045;
	border-radius: 3px;
	background-color: #FFF;
}
#section4 .item .skill span:nth-child(2) {
	color: #B93D5F;
}
#section4 .item .skill span:nth-child(3) {
	color: #985A99;
}
#section4 .item .skill span:nth-child(4) {
	color: #4B4B9C;
}
#section4 .item .skill span:nth-child(5) {
	color: #0987C2;
}
#section4 .item .skill span:nth-child(6) {
	color: #09C0C2;
}
#section4 .item .fr img {
	width: 370px;
	height: 225px;
	border: 1px solid rgba(255,255,255, 0.7);
	border-radius: 10px;
}
#section4 .item .weipin{
	margin-top: 40px;
}


/*第六屏*/
#section6 {
	height: 667px;
	width: 100%;
}
#section6 h2{
	margin: 30px;
	font-size: 36px;
	color:#fff;
	text-align: center;
}

#section6 .contentbox{
	width:786px;
	height: 374px;
	margin: 30px auto;
}
#section6 .qcontainer{
	-webkit-perspective:400;
	-moz-perspective:400;
	float:left;
	width:160px;
	margin-right:36px;
}
#section6 .qcontainer img{
	width: 160px;height: 160px;
	border-radius:15px;
	text-align: center;
}
#section6 .film{
	width:100%;height:200px;
	-webkit-transform-style:preserve-3d;
	-webkit-transition:1.5s;
	-moz-transform-style:preserve-3d;
	-moz-transition:1.5s;
}
#section6 .qcontainer:hover .film{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
}
#section6 .face{
	position:absolute;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	overflow: hidden;
}
#section6 .back{
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	background:-webkit-gradient(linear,left top,left bottom,
		from(#fdbb5a),
		to(#db5726));
	background:-moz-linear-gradient(top,#fdbb5a,#db5726);
	width:160px;
	height:160px;
	border-radius: 15px;
	padding: 5px;
}
#section6 .footer{
	width: 700px;
	margin: 0 auto;
	text-align: center;
	color:#fff;
}

