.lunbao-l{
    height: 360px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.lunbao-l ul{
    position: absolute;
    left: 0;
    top: 0px;
    width:6750px;
}
.lunbao-l ul li {
    width: 1350px;
    height: 360px;
    overflow: hidden;
    float: left;
}
.lunbao-lie{
    width: 92px;
    height: 24px;
    display: block;
    border: 0px solid rgba(0,0,0,0.2);
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    bottom:10px;
    left: 632px;
    border-radius: 20px;
}

.lunbao-lie ol li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 7px 6px;
    background: #b0b0ab;
}
.lunbao-lie ol li.current{
    background: #fff;
}
#arr {
    display: none;
}
#arr span {
    width: 30px;
    height: 50px;
    position: absolute;
    left: 120px;
    top: 50%;
    margin-top: -20px;
    background: #333;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-family: '黑体';
    font-size: 30px;
    color: #fff;
    opacity: 0.3;
    border:0px solid #fff;
    border-radius: 5px;
}

#arr #right {
    right: 120px;
    left: auto;
}

.li-re{
    height: 104px;
}
.li-re .w img{
    margin: 30px 310px;
}
.liu-li{
    height: 306px;
}
.liu-li .w{
    height: 306px;
    border: 1px solid #e8ebe4;
}
.liu-left{
    width: 144px;
    height: 305px;
    background-color: #f4f4f4;
}
.liu-left ul li{
    height: 50px;
    width: 104px;
    border-bottom: 1px solid #ffffff;

}
/*高亮显示*/
.liu-left ul li.current1{
    background-color: pink;
}

.liu-left ul li.liu-bor{
    border-bottom:0;
}
.liu-left ul li{
    font:16px/50px "微软雅黑";
    padding-left: 40px;
}
/*.liu-left ul li a.hover{*/
/*color: #e9af46;*/
/*}*/
.liu-banner{
    width: 856px;
    /*height: 306px;*/
}

.liu-banner .liu-right{
    width: 856px;
    height: 306px;
    display: none;
}
.liu-banner .liu-right.selected{
    display: block;
}

.liu-banner .liu-right ul li{
    width: 171px;
    height: 135px;
    float: left;
    margin-bottom: 20px;

}

.liu-banner .liu-right ul li a{
    display: block;
    margin-top: 20px;
    text-align: center;
}
.liu-banner .liu-right ul li p{
    font: 14px "微软雅黑";
    text-align: center;
    color: #666695;
    margin-top: 15px;
    cursor: pointer;
}

.liu-banner .liu-right ul li.liu-geng img{
    width: 80px;
    height: 80px;
}

.liu-jin{
    height: 104px;
}
.liu-jin .w img{
    margin: 30px 310px;
}
.liu-tup .w{
    height: 154px;
    width: 1000px;
}
.liu-tup1{
    height: 154px;
    width: 490px;
    position: relative;
}

/*.liu-tup1 img{*/
/*height: 154px;*/
/*width: 490px;*/
/*cursor: pointer;*/

/*}*/

.liu-tup1 .liu-huan1 img{
    height: 154px;
    width: 490px;
    cursor: pointer;
    z-index: 1;
}
.liu-tup1 .liu-huan{
    width: 490px;
    height: 154px;
    cursor: pointer;
    position: absolute;
    top:0;
    left:0;
}

.liu-tup1 .liu-huan img{
    height: 154px;
    width: 490px;
    cursor: pointer;
    z-index: 2;
    /*position: absolute;*/
    /*top:0;*/

}
.liu-tup1 .liu-huan.slect{
    display: block;
}

.liu-tup2{
    height: 154px;
    width: 490px;
    position: relative;
}
/*.liu-tup2 img{*/
/*height: 154px;*/
/*width: 490px;*/
/*cursor: pointer;*/
/*}*/
.liu-tup2 .liu-dong{
    width: 490px;
    height: 154px;
    cursor: pointer;
    position: absolute;
    top:0;
    left:0;
}
.liu-tup2 .liu-dong1 img{
    height: 154px;
    width: 490px;
    cursor: pointer;
    z-index: 1;
}
.liu-tup2 .liu-dong img{
    height: 154px;
    width: 490px;
    cursor: pointer;
    z-index: 2;
}
.liu-tup2 .liu-dong.sel{
    display: block;
}

.liu-xin .w img{
    width: 1000px;
    margin: 30px auto;
}
.main-top{
    height: 275px;
}

.main-top ul li{
    width: 490px;
    height: 275px;
    margin-bottom: 25px;
    position: relative;
}
.main-top ul li img{
    width: 490px;
    height: 235px;
    cursor: pointer;
}
.main-top ul .fl .liu-reu{
    display: inline-block;
    width: 490px;
    height: 30px;
    line-height: 30px;
    background-color: #21140d;
    opacity: 0.6;
    position: absolute;
    bottom:40px;
    cursor: pointer;
}
.main-top ul .fl .liu-reu .reu{
    width: 8px;
    height: 9px;
    display: inline-block;
    margin-left:20px ;
    background: url(../image/111.png) no-repeat -4px -58px;
}

.main-top ul .fl .liu-reu .reu1{
    color: #fff;
    margin-left: 8px;
}

.main-top ul .fl .liu-reu .reu3{
    display: block;
    width: 85px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top:5px;
    right: 8px;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 2;
    display: none;
}


.main-top ul .fl .liu-reu .reu3 i{
    font-style: normal;
    padding-left: 10px;
    color: #000;
}
.main-top ul .fl .liu-reu .reu3 i:hover{
    color: #fff;
}
.main-top ul .fl .liu-reu .reu3:hover{
    background-color: #f10180;
}

.main-top ul .fr .reu4{
    display: block;
    width: 85px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top:210px;
    right: 8px;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.main-top ul .fr .reu4 i{
    font-style: normal;
    padding-left: 10px;
}
.main-top ul .fr .reu4 i:hover{
    color: #fff;
}
.main-top ul .fr .reu4:hover{
    background-color: #f10180;
}
/*添加*/
.liu-main .main-top ul .liu-an1 .liu-an2{
    position: relative;
}

.liu-main .main-top ul .liu-an1 .liu-mask{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 490px;
    height: 235px;
    background: #f0efef;
    opacity: 0.6;
    display: none;
}

.liu-main .main-top ul .liu-an1 .mask-cont{
    position: absolute;
    top: 26px;
    left: 45px;
    width: 400px;
    height: 185px;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
}

.liu-main .main-top ul .liu-an1 .mask-cont .mask-cont1{
    width: 400px;
    height: 145px;
    border-bottom: 1px dashed #000;
}
.liu-main .main-top ul .liu-an1 .mask-cont .mask-cont1 ul li{
    width: 133px;
    height: 145px;
    float: left;
}
.liu-main .main-top ul .liu-an1 .mask-cont .mask-cont1 ul li a{
    display: block;
    width: 133px;
    height: 90px;
    margin-top: 20px;
    text-align: center;
}
.liu-main .main-top ul .liu-an1 .mask-cont .mask-cont1 ul li p{
    margin-top: 10px;
    text-align: center;
    color: #6A6B6D;
    font-weight: 700;
}

.liu-main .main-top ul .liu-an1 .mask-cont .mask-cont1 ul li img{
    width: 80px;
    height: 80px;
    text-align: center;
}
.liu-main .main-top ul .liu-an1 .mask-cont2{
    position: relative;
}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu5{
    display: block;
    width: 85px;
    height: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #eeeeee;
    cursor: pointer;
    z-index: 2;
    position:absolute ;
    top:10px;
    left: 22px;
    /*background-color: deeppink;*/
    text-align: center;
}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu5 i{
    font-style: normal;

}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu5 i:hover{
    color: #fff;
}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu5:hover{
    background-color: #f10180;
}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu6{
    display: block;
    width: 70px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #262626;
    position:absolute ;
    top:8px;
    right: 22px;
    text-align: center;
    cursor: pointer;
}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu6:hover{
    background-color:#262626;

}

.liu-main .main-top ul .liu-an1 .mask-cont2 .reu6 i{
    font: 13px "微软雅黑";
    color: #262626;

}
.liu-main .main-top ul .liu-an1 .mask-cont2 .reu6 i:hover{
    color: #fff;
}

/*添加*/
.liu-span{
    height: 40px;
    display: block;
    line-height: 40px;
    cursor: pointer;
}
.liu-span .liu-brand{
    color: #4d4d4d;;
}
.liu-span .liu-brand .zhe{
    font:700 26px/40px "微软雅黑";
    color: red;
    margin-left: 20px;
}
.liu-span .brand-name{
    font: 14px "微软雅黑";
    color: #666666;
    margin-left: 10px;
}
.liu-span .liu-brand1 img{
    width: 16px;
    height: 14px;
    margin-top: -4px;
    margin-left: 190px;
}

.liu-span .liu-brand2{
    color: #4d4d4d;
    margin-left: 10px;
}

